
body{
  background-image: url('../../images/reg-bg-img.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.register{
    margin-top: 30%;
    padding: 10%;
    box-shadow: 0 4px 8px 0 rgba(14, 0, 53, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5%;
    background-color: rgba(10, 59, 127, 0.5);
}

.form-group{
    padding: 10px 0;
}

.form-group label{
    color: white;
    font-size: 1.2rem;
}

.main-text{
    margin-top: 30%;
    padding: 10%;
    color: rgb(8, 8, 8);
    background-image: linear-gradient(rgba(255, 255, 0, 0),rgb(255, 255, 255,0.8), rgba(255, 255, 0, 0));
}

.main-text h1 span{
    font-size: 5rem;
}

.main-text p{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(62, 61, 81);
}

