.about-container .row{
    margin-left: 0;
}

.about-container1 .left{
   margin:5% 10%;
}

.about-container .slide-content {
    background-color: rgb(0,0,0,0.5);
}

.about-container .slide-content .heading, .para{
    color: aliceblue;
}

  
