.place-container .row{
    margin-left: 0;
}

.place-container1{
    margin: 0;
    padding: 0;    
}

.place-description-container .place-description{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid #b2afaf;
    
}

.place-description-container .place-image img{
    width: 100%;
    object-fit: cover; 
}

.place-images {
    display: flex; /* Make the images flex items */
    padding: 10px;
  }
  
  .place-images img {
    width: 100%; /* Set a fixed width for all images */
    height: 200px;
    object-fit: cover; /* Maintain aspect ratio while filling the container */
    margin-right: 10px; /* Add some space between images */
  }